
.inquirydetailcontainer {
    display: flex;
    align-items: center;
    height: 93vh;
    width: 100%;
  }
  .inquirydetailbox{
    width: 1000px;
    margin-top: 10px;
}
.titleboxwrap{
    display: flex;
    align-items: center;
}
.inquirytitlebox{
background-color: white;
margin: 10px;
height: 50px;
border: 1px solid #1400FF;
width: 100%;

}
.inquirytextbox{
    background-color: white;
    margin: 10px;
    height: 150px;
    border: 1px solid #1400FF;

}

.bluebox{
    background-color: #1400FF;
    width: 100%;
    height: 10px;
    margin: 0px auto;
}
.inquirybut{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 10px; /* 버튼 사이의 간격 */
    width: 100%;
}
.inquirydetailcontainer h1{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
}
.inquirydetailcontainer2 h1{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
}
