
.admineditdetailcontainer {
    display: flex;
    align-items: center;
    width: 100%;

  }
.adminedittitlebox{
background-color: white;
margin: 30px;
margin-left: 220px;
}
.admineditbut{
    display: flex;
    justify-content: center;
    gap: 10px; /* 버튼 사이의 간격 */
    width: 100%;
}
.admineditdetailcontainer h1{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
}
.adminedittitle{
    width: 300px;
    line-height: 50px;
    text-align: right;
    margin-right: 50px;
}
.admineditdetail{
    display: flex;
    item-align: center;
}
.admintext{
    display: flex;
    align-items: left;
    width: 1000px;
    margin-left: 50px;
}