.reviewwrap{
    display: flex;
    align-items: center;
    height: 93vh;
    width: 100%;
}

.reviewwrap h1 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-top: 60px;
}
.repagination{
    display: flex;
    margin-top: 20px;
    border: none;
    justify-content: center;
}
.reviewdetail{
    width: 500px;
    height: 900px;
    margin-left: 700px;
    
}