
.reportdetailcontainer {
    display: flex;
    align-items: center;
    height: 93vh;
    width: 100%;
}
.report-detail-wrapper {
    display: flex; 
    justify-content: space-between;
    gap: 20px; 
    margin-top: 50px;
}
.reportdetailbox1{
    width: 600px;
    height: 100px;
    margin-top: 10px;
    border: 1px solid #1111;
}
.reportdetailbox2{
    width: 400px;
    height: 452px;
    margin-top: 10px;
    border: 1px solid #1111;
}
.reportdatebox{
    display: flex; 
    justify-content: space-between;
    gap: 20px;
    border: 1px solid #1111;
}
.reporttextbox{
border: 1px solid #1111;

}

.bluebox{
    background-color: #1400FF;
    width: 100%;
    height: 10px;
    margin: 0px auto;
}
.reportbut{
    display: flex;
    justify-content: center;
    gap: 10px; /* 버튼 사이의 간격 */
    width: 100%;
    margin-top: 60px;
}
.reportdetailcontainer h1{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}