.tablewrap{
    margin: 0 auto;
    height: 95vh;
}
.inqpagination{
    display: flex;
    margin-top: 20px;
    border: none;
    justify-content: center;
}
.tablewrap h1{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin: 20px;
}

button {
    background-color: blue;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    border: blue;
    font-weight: bold;
}